:root {
    /* primary colors */
    --soft-blue:  hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* neutral colors */
    --neutral-color: hsl(0, 0%, 97%);
    --vary-dark-blue: hsl(229, 31%, 21%);
    --greyish-blue: hsl(229, 8%, 60%);
    --white: #fff;

    --max-width: 1150px;
}

body{
    font-family: 'Rubik', sans-serif;
    color: var(--vary-dark-blue);
    font-weight: 400;
    background-color: var(--neutral-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.container {
    max-width: var(--max-width);
    margin: auto;
}
.header {
    background:var(--neutral-color);
}
.header .socials {
    display: none;
}
.navbar {
    width: 100%;
    max-width: inherit;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    /* right: 0; */
    background: var(--neutral-color);
    z-index: 1;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.2);
}
.navbar .btn {
    text-decoration: none;
}
.logo {
    align-self: center;
    cursor: pointer;
}
.navbar.flex {
    justify-content: space-between;
}
.hamburger {
    display: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    align-items: center;
}
ul li a{
    margin: 10px 20px;
    padding: 10px;
    text-decoration: none;
    color:var(--greyish-blue);
    cursor: pointer;
}
a:hover, 
.accordion:hover, 
.socials i:hover, 
.features button:hover {
    color: var(--soft-red);
}

.btn {
    padding: 10px 15px;
    border-radius: 6px;
    color: var(--neutral-color);
    border: 1px solid;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    background: transparent;
}
.btn-primary {
    background-color: var(--soft-blue);
    border-color: var(--soft-blue);
}
.btn-primary:hover {
    color: var(--soft-blue);
}
.btn-danger {
    background-color:var(--soft-red);
    border-color:var(--soft-red);
}
.btn-danger:hover, .contact .btn:hover {
    color: var(--soft-red);
    background-color: var(--neutral-color);
}
.btn-light {
    background: var(--neutral-color);
    margin-left: 10px;
    color: var(--vary-dark-blue);
    border-color: var(--neutral-color);
    box-shadow: 0 3px 4px rgba(37, 43, 70, 0.2);
}
.btn-light:hover {
    
    border-color: var(--vary-dark-blue);
    color: var(--vary-dark-blue);
}
.text-center {
    text-align: center;
}
h1 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.2;
}
h2 {
    font-size: 1.8em;
    font-weight: 500;
}

.text {
    font-weight: 300;
    margin: 15px 0;
    line-height: 1.5;
    color: var(--greyish-blue);
}
.img-illustration {
    position: relative;
    text-align: center;
    margin: auto 0;
    width: 100%;
}
.bookmark img {
    width: 100%;
    padding-right: 10px;
    align-self: center;

}
 .tab img{
    width: 90%;
 }

.bookmark .img-illustration::before {
    position: absolute;
    content: '';
    background: var(--soft-blue);
    border-radius: 8em 0 0 8em;
    width: 70%;
    height: 80%;
    right: 0;
    top: 5.5rem;
    z-index: -10;
    
}
.tab .img-illustration::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 85%;
    left: 0;
    top: 5.5rem;
    background: var(--soft-blue);
    z-index: -10;
    border-radius: 0 8em 8em 0;
}
.one-click .text, .bookmark .text {
    max-width: 90%;
}
.one-click, .simple-bookmark {
     max-width: 48%;
}
section {
    padding: 4.5em 0px;
}
.features {
    flex-direction: column;
    text-align: center;
}
.features .text {
    max-width: 60%;   
    margin: auto;
}
.features .features-link {
    margin: 40px auto 0; 
    max-width: 80%;
    border-bottom: 1px solid;
}
.features button {
    text-decoration: none;
    color: var(--vary-dark-blue);
    margin: 0 20px;
    padding: 20px 30px;
    border: none;
    background: transparent;
    cursor: pointer;   
}
.features button:focus {
    outline: none;
}
.features button:first-child {
    border-bottom: 5px solid var(--soft-red);
}
#tab2, #tab3 {
    display: none;
}
.bookmark {
    padding-top: 200px;
    margin-left: 20px;
}
.one-click, .simple-bookmark {
    align-self: center;
    justify-self: end;
}

.extension {
    text-align: center;
    margin: auto;
}
.browsers {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px auto 0;
    padding: 40px;
    position: relative;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow:0 5px 10px rgba(37, 43, 70, 0.3);
    padding: 20px 6px;
    text-align: center;
    
}
.card:hover {
    transform: scale(1.1);
}
.card:first-child {
    margin-top: 0px;
}
.card:nth-child(2) {
    position: relative;
    top: 40px;
}
.card:nth-child(3) {
    position: relative;
    top: 80px;
}
.card-heading {
    padding: 30px 0;
    font-size: 1.3em;
    font-weight: 500;
}
.card-sub-heading {
    color: var(--greyish-blue);
    margin-bottom: 10px;
}
.card-body.flex {
    flex-direction: column;
    justify-content: space-between;
    
}
.card-body.flex .btn {
    font-size: 16px;
}
.card-body img {
    margin: 20px 0;
    width: 100%;
}
.faq, .extension .text {
    max-width: 70%;
    margin: auto;
}

.asked-q {
    margin: 50px 0;
}
.question {
    border-top: 1px solid var(--vary-dark-blue);
    padding: 20px 0;  
  
}
.accordion {
    font-weight: 500;
    cursor: pointer;   
}
.accordion::after {
    content: url('../images/icon-arrow.svg');
    float: right;
    transition: all 0.2s ease-out;
}

.accordion-collapse::after {
    content: '\276F';
    color: var(--soft-red);
    transform: scale(1.3) rotate(-90deg);
    transition: all 0.2s ease-in;
}

.details {
    display: none;
    padding-top: 50px;
    line-height: 1.7;
    font-weight: 400;
    color: var(--greyish-blue);
}
/* .asked-q, .accordion, .details, .question {
    transition: all 0.3s ease;
} */

footer ul li a {
    color: var(--neutral-color);
}

.footer .up-to-date {
    background: var(--soft-blue);
    color: var(--neutral-color);
    
}

.footer .up-to-date, .bg-dark {
    max-width: var(--max-width);
    margin: auto;
}

.footer .stay {
    margin: 30px auto;
    max-width: 80%;
}
.footer #joined {
    font-size: 0.7em;
    font-weight: 500;
}
.footer-bar {
    justify-content: space-between;
    padding: 0 20px;
}

.contact input {
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
}
.contact input:focus {
    outline: none;
}
.contact .btn {
    height: 0%;
}
form.flex {
    justify-content: center;
}
.form-input {
    margin-right: 10px;
    flex-direction: column;
    border-radius: 5px;
}
.small {
    display: none;
    font-style: italic;
    font-size: 0.8em;
    text-align: left;
    padding: 2px 5px;
    border: 1px solid var(--soft-red);
    border-radius: 0;
    background: var(--soft-red);
    color: var(--neutral-color);
    width: auto;
}
.small-bg {
    display: block;
    background-color: var(--soft-red);
}
.success {
    background: transparent;
}
.bg-dark {
    background: var(--vary-dark-blue);
    padding: 1em 50px;
    
}
.bg-dark .logo {
    color: var(--neutral-color);
    padding: 0 2px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
}
.navbar-dark {
    background: linear-gradient(rgba(83, 104, 223, 0.8), rgba(83, 104, 223, 0.8));;
}
.footer .socials i{
    color: var(--neutral-color);
    cursor: pointer;
    margin-right: 40px;
    font-size: 1.5em;
}

.socials i:hover {
    color: var(--soft-red);
}
.active {
    display: block;   
}

@media screen and (max-width: 769px) {
    main {
        padding: 10px 0;
    }

    .flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header .socials {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
    }
    .header .socials i {
        font-size: 1.5em;
        color: var(--neutral-color);
    }
    .header .socials i:hover {
        color: var(--soft-red);
    }

    .nav-items {
        display: none;
        justify-self: space-evenly;
        margin: 0 auto;       
    }
    .nav-items li {
        padding: 20px 0;
        border-top: 1px solid var(--neutral-color);

        width: 100%;
    }
    .nav-items li:last-child {
        border-bottom: 1px solid var(--neutral-color);
        margin-bottom: 30px;
    }
    .nav-items li a {
        color: var(--neutral-color);
    }
    .nav-items li a:hover {
        color: var(--soft-red);
    }
    .nav-items .btn {
        background: transparent;
        border: 2px solid var(--neutral-color);
    }
    .navbar, .nav-items {
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column; 
    }

    .logo {
        align-self: flex-start;
    }
    .hamburger {
        display: initial;
        align-self: flex-end;
        margin-top: -30px;
    }

    section {
        padding: 4em 0px;
    }

    h1, h2  {
        text-align: center;
        font-size: 2em;
    }

    .one-click, .simple-bookmark {
        max-width: 80%;
        margin-top: 25%;
        text-align: center;
    }
    .tab img{
        margin-left: 0;
    }
    .bookmark img {
        padding-right: 0;
    }

    .card{
        max-width: 80%;
        margin: auto;
    }
    
    .button .btn-light {
        margin-left: 0;
    }

    .features .text, .extension, .faq {
        max-width: 80%;
    } 
    .features button {
        border: 1px solid var(--vary-dark-blue);
        border-left: none;
        border-right: none;
        width: 100%;
        margin: auto;
    }
    .features .features-link {
        border-bottom: none;
    }
    .tab .btn{
        display: none;
    }

    .browsers {
        padding: 40px 0;
    }
    .browsers .btn {
        margin: auto;
    }
    .contact {
        margin-top: 20px;
    }

    .form-input {
        margin-right: 0;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    .footer-bar .nav-link {
        margin-bottom: 20px;
    }
    .bg-dark .logo {
        margin-bottom: 20px;
    }

    .nav-toggleShow {
        display: flex;
    }

    .transparent {
        height: 100vh;
        z-index: 100;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .bookmark {
        padding-top: 120px;
    }
    .bookmark .simple-bookmark {
        order: 1;
    }

    .button .btn{
        margin-top: 20px;
    }
}

@media (max-width: 967px) {

        .features button {
        padding: 20px 0;
    }       
}

